<mat-card>
    <mat-card-header>
        <h2>Registeration</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">
            

          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" >
          </mat-form-field>
          


          <mat-form-field class="example-full-width">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="prenom" >
          </mat-form-field>
          
         

              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" >
              </mat-form-field>

              
              <mat-form-field class="example-full-width">
                <mat-label>Mobile</mat-label>
                <input matInput formControlName="phoneNumber" >
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Date de naissance</mat-label>
                <input matInput formControlName="birthDate" >
              </mat-form-field>
             
              <mat-form-field class="example-full-width">
                <mat-label>Mot de Passe</mat-label>
                <input type="password" matInput formControlName="password" >
              </mat-form-field>

            

              


              <div>
                <button mat-raised-button color="primary">Submit</button>
                <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card>